*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

.waves{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.content .imgHome{
    width: 600;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 50px;
}

.content .imgHome img{
    max-width: 600px;
}

